#payment{
    padding: 20px 0px;
}
#payment .box{
    padding: 14px 21px;
    border: 1px solid black;
    position: relative;
}

#payment .btn{
    color: white;
    margin-top: 10px;
}
#payment .check{
    background: #046504;
    color: white;
    position: absolute;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 20px;
    bottom: 14px;
    border-radius: 100%;
}
#productSummaryCheckout .cartProductCardLink{
    margin: 0;
}

#payment .containerPrices{
    width: 30%;
}
#payment .containerAll{
    width: 70%;
}

@media (max-width:992px) {
    #payment .containerPrices{
        width: 34%;
    }
    #payment .containerAll{
        width: 64%;
    }
}
@media (max-width:769px) {
    #payment .fc{
        flex-direction: column;
    }
    #payment .containerPrices{
        width: 100%;
    }
    #payment .containerAll{
        width: 100%;
    }
}
